.accordion {
  display: flex;
  flex-direction: column;
}

.accordion__item {
  position: relative;
  background-color: #fff;

  &::before {
    content: '';
    position: absolute;
    left: -5000%;
    bottom: 0;
    width: 10000%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.075);
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    width: 10000%;
    height: 100%;
    left: -5000%;
    top: 0;
    background: #F8F9FA;
    z-index: 0;
    opacity: 0;
  }
}

.accordion__item.active {
  &::before {
    height: 3px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.accordion__item.active {
  &::after {
    opacity: 1;
  }
}

.accordion__item.active .accordion__header {
  padding-bottom: 20px;
  z-index: 1;

  @media (max-width: $breakpoint768) {
    padding-bottom: 30px;
  }
}

.accordion__header {
  position: relative;
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 50px 0 16px;

  cursor: pointer;
  transition: background-color 0.2s ease;

  @media (max-width: $breakpoint768) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.accordion__content {
  position: relative;
  max-height: 0;
  overflow: hidden;
  z-index: 2;
  transition: max-height 0.2s ease, padding 0.2s ease;

  @media (max-width: $breakpoint992) {}

  @media (max-width: $breakpoint768) {}
}

.accordion__item.active .accordion__header {}

.accordion__item.active .accordion__content {
  padding: 0 100px 50px 120px;
  max-height: 1000px;

  @media (max-width: $breakpoint992) {
    padding: 0 24px 24px 24px;

    ol {
      padding-left: 20px;
    }
  }

  @media (max-width: $breakpoint768) {
    padding: 0 12px 12px 12px;

    ol {
      padding-left: 16px;
    }
  }
}