.char {
  padding: 160px 0 60px;
  background-image: url('../img/game-bg-job.png');
  background-repeat: no-repeat;
  background-size: cover;

  // .char__inner

  &__inner {
    display: flex;
    column-gap: 70px;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
      row-gap: 100px;
    }
  }

  // .char__select

  &__select {
    flex: 0 0 440px;

    @media (max-width: $breakpoint992) {
      flex: 0 1 auto;
    }
  }

  // .char__title

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFC107;
  }

  // .char__side

  &__side {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    margin: 15px 0;
  }

  // .char__side-border

  &__side-border {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  // .char__side-info

  &__side-info {
    flex: 0 0 140px;
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  // .char__side-label

  &__side-label {
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  // .char__select-list

  &__select-list {
    display: flex;
    align-items: center;
    column-gap: 10px;

    @media (max-width: $breakpoint992) {
      justify-content: center;
    }

    @media (max-width: $breakpoint480) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      row-gap: 10px;
    }
  }

  // .char__select-item

  &__select-item {
    position: relative;
    display: flex;
    width: 65px;
    height: 95px;
    cursor: pointer;
  }

  // .char__select-avatar

  &__select-avatar {
    position: absolute;
    width: 65px;
    height: 95px;
    // border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  // .char__select-name

  &__select-name {
    position: relative;
    margin-top: auto;
    padding: 0 6px 10px;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    color: #FFFFFF;

    z-index: 2;
  }

  // .char__map

  &__map {
    display: flex;
    align-items: flex-start;
    column-gap: 24px;
    margin-top: 30px;

    @media (max-width: $breakpoint992) {
      justify-content: center;
      max-width: 320px;
      margin: 0 auto;
      margin-top: 30px;
    }

    @media (max-width: $breakpoint480) {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  }

  // .char__map-city

  &__map-city {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

  }

  // .char__map-img

  &__map-img {
    width: 158px;
    height: 158px;

    @media (max-width: $breakpoint480) {
      margin: 0 auto;
    }
  }

  // .char__map-descr

  &__map-descr {
    font-weight: 400;
    font-size: 12.8px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
  }

  // .char__map-link

  &__map-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00C7B1;
    text-decoration-line: underline;
  }

  // .char__info

  &__info {
    flex: 0 0 360px;
    padding-top: 140px;

    @media (max-width: $breakpoint992) {
      flex: 0 0 auto;
      // padding-top: 0;
    }

    @media (max-width: $breakpoint480) {
      flex: 0 0 280px;
      // padding-top: 0;
    }
  }

  // .char__info-inner

  &__info-inner {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    border-radius: 10px;
  }

  // .char__info-top

  &__info-top {
    position: relative;
    padding: 0 20px;
    padding-top: 100px;
    text-align: center;
  }

  // .char__info-top-char

  &__info-top-char {
    position: absolute;
    top: -140px;
    left: 50%;
    transform: translateX(-50%);
  }

  // .char__info-top-name

  &__info-top-name {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #FFC107;
  }

  // .char__info-top-label

  &__info-top-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }

  // .char__info-middle

  &__info-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  // .char__info-middle-img

  &__info-middle-img {}

  // .char__info-descr

  &__info-descr {
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 10px;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
  }

  // .char__info-link

  &__info-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 52px;
    background: #00C7B1;
    border-radius: 0 0 10px 10px;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
  }
}

.char__info-slider {
  max-width: 360px;

  @media (max-width: $breakpoint480) {
    max-width: 280px;
  }
}

.char-2 {
  position: relative;
  background-image: url('../img/char/char-bg.png');

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(52, 58, 64, 0.5);
    user-select: none;
    pointer-events: none;
  }

  .char__select {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      user-select: none;
      pointer-events: none;
    }
  }

  .char__info-slider {
    max-width: 400px;

    @media (max-width: $breakpoint480) {
      max-width: 300px;
    }
  }

  .char__info {
    flex: 0 0 400px;

    @media (max-width: $breakpoint480) {
      flex: 0 0 300px;
    }
  }

  .char__info-inner {
    background-color: transparent;
    backdrop-filter: blur(0);
  }

  .char__info-descr {
    max-width: 400px;
  }

  .char__info-link {
    background-color: #753BBD;
  }

  .char__info-top-char {
    border: 1px solid #343A40;
    width: 98%;

    @media (max-width: $breakpoint480) {
      width: 70%;
    }
  }

  .char__info-top {
    @media (max-width: $breakpoint480) {
      padding-top: 40px;
    }
  }

  .char__title {
    margin-bottom: 20px;
    color: #343A40;
  }

  .char__map-link {
    color: #753BBD;
  }

  .char__map-descr {
    color: #343A40;
  }
}