.footer-form {
  padding: 180px 0 200px;
  background-color: #00C7B1;

  // .footer-form__inner

  &__inner {
    padding-top: 60px;

  }

  // .footer-form__top

  &__top {
    margin-bottom: 50px;
  }

  // .footer-form__top-label

  &__top-label {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  // .footer-form__title

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }

  // .footer-form__main

  &__main {
    margin-bottom: 30px;
  }

  // .footer-form__footer

  &__footer {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  // .footer-form__decor

  &__decor {
    width: 150px;
    height: 14px;
    background-color: #B2B2AE;
  }
}


.form {


  // .form__inner

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 56px;

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 30px;
    }
  }

  // .form__group

  &__group {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    @media (max-width: $breakpoint1450) {
      row-gap: 5px;
    }

  }

  // .form__label

  &__label {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 18px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #343A40;

    @media (max-width: $breakpoint1450) {
      font-size: 16px;
    }

    @media (max-width: $breakpoint992) {
      font-size: 14px;
    }

  }

  // .form__btn

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 16px;
    background-color: #753BBD;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 19px;
    color: #FFFFFF;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: #a970ef;
    }
  }
}

.input {
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #000000;
}

.input-file {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -100;

}

.input-div {
  flex: 0 0 100%;
  height: 26px;
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #000000;

  @media (max-width: $breakpoint1450) {
    height: 22px;
  }

}


.footer-form-game {
  background-image: url('../img/game-bg-footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #25201C;
  color: #FFFFFF;

  .form__label {
    color: #FFC107;
  }

  .form__btn {
    background-color: #FFC107;
  }

  .input,
  .input-div {
    border-color: #343A40;
  }
}