// Header
.header {}

// Navbar
.nav {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
}

.logo {
  a {
    color: white;
  }
}

.menu {
  display: flex;
  column-gap: 40px;

  @media (max-width: $breakpoint1450) {
    column-gap: 20px;
  }

  // .menu__item
  &__item {}

  // .menu__item-link
  &__item-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #343A40;
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.6);
    transition: color 0.2s linear;

    @media (min-width: 1024px) {
      &:hover {
        color: #adacac;
      }
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
}

// Burger menu styles
@media screen and (max-width: $burgerBreakpoint) {

  .nav {
    left: 0;
    transform: translateX(0);
  }

  .logo {
    z-index: 23;
  }

  .logo img {
    max-width: 90px;
  }

  // .menu
  .menu {
    position: fixed;
    background: #131418;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;

    &.active {
      display: flex;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      pointer-events: all;
      justify-content: center;
      align-items: center;
      z-index: 22;
      animation: fade 0.1s linear;
    }
  }

  // .burger
  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;

    &.active-burger svg path {
      fill: #fff;
    }
  }

  // .menu__item
  .menu__item {
    margin-top: 15px;
  }

  // .menu__link
  .menu__item-link {
    color: white;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
  }
}



.header.header-game {
  .menu__item-link {
    color: #fff;
  }
}

.menu__item-link--yellow {
  color: #FFC107 !important;
}