.hero {
  position: relative;
  height: 100vh;
  min-height: 770px;
  padding-top: 200px;
  padding-bottom: 124px;
  overflow: hidden;



  &.green {
    background-image: url('../img/hero-bg-1.png');
    background-repeat: no-repeat;
    // background-position: center;
    background-size: contain;
    animation: bgBreen 4s linear;

    @media (max-width: $breakpoint992) {
      background-size: auto;
      animation: bgBreen 5s linear;
    }

    @media (max-width: $breakpoint768) {
      animation: bgBreen 7s linear;
    }
  }


  &.transparent {
    background-image: url('../img/hero-bg-2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .hero__title {
      color: #FFFFFF;
    }

    .hero__link {
      color: #FFFFFF;
    }

    .hero__top img:nth-child(1) {
      display: none;
    }

    .hero__top img:nth-child(2) {
      display: flex;
    }
  }





  // .hero__inner

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    @media (max-width: $breakpoint768) {
      align-items: flex-start;
      text-align: left;
    }
  }

  // .hero__top

  &__top {
    margin-bottom: 54px;

    // & img:nth-child(2) {
    //   display: none;
    // }

    @media (max-width: $breakpoint768) {
      margin-bottom: 15px;
    }
  }

  // .hero__middle

  &__middle {
    margin-bottom: 110px;

    @media (max-width: $breakpoint768) {
      margin-bottom: 90px;
    }
  }

  // .hero__title

  &__title {
    max-width: 811px;
    font-weight: 300;
    font-size: 56px;
    line-height: 67px;
    color: #343A40;

    @media (max-width: $breakpoint768) {
      font-size: 28px;
      line-height: 34px;
    }
  }

  // .hero__bottom

  &__bottom {
    display: flex;
    align-items: center;
    column-gap: 10px;

    @media (max-width: $breakpoint768) {
      justify-content: center;
      align-self: center;
      overflow: hidden;
    }
  }

  // .hero__link

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    min-width: 342px;
    width: fit-content;
    min-height: 90px;
    height: fit-content;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #343A40;
  }

  // .hero__link--green

  &__link--green {
    background-color: transparent;
    border-radius: 15px;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: #00C7B1;

      span {
        user-select: none;
        pointer-events: none;
        color: #fff;
      }
    }

    span {
      font-weight: 700;
      color: #00C7B1;
      text-decoration: underline;
    }

    @media (max-width: $breakpoint768) {
      min-width: 0;
      width: fit-content;
      min-height: 0;
      height: fit-content;
      background: transparent;

      font-size: 16px;
      line-height: 24px;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 180px;
        width: fit-content;
        min-height: 44px;
        height: fit-content;
        background: #00C7B1;
        border-radius: 15px;

        color: #fff;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
      }

      &:hover {
        background-color: transparent;

        span {
          user-select: none;
          pointer-events: none;
          color: #fff;
        }
      }
    }
  }

  // .hero__link--transparent

  &__link--transparent {
    background-color: transparent;
    border-radius: 15px;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: #B40091;

      span {
        user-select: none;
        pointer-events: none;
        color: #fff;
      }
    }

    span {
      font-weight: 700;
      color: #B40091;
      text-decoration: underline;
    }

    @media (max-width: $breakpoint768) {
      position: absolute;
      right: -80px;
      top: 175px;

      min-width: 180px;
      width: fit-content;
      min-height: 44px;
      height: fit-content;

      font-size: 0;
      line-height: 0;
      color: transparent;


      span {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 180px;
        width: fit-content;
        min-height: 44px;
        height: fit-content;

        background: #B40091;
        border-radius: 15px;
        transform: rotate(-90deg);

        text-decoration: none;
        font-weight: 700;
        font-size: 12.8px;
        line-height: 19px;
        color: #FFFFFF;
      }

      &:hover {
        background-color: transparent;

        span {
          user-select: none;
          pointer-events: none;
          color: #fff;
        }
      }
    }
  }
}

@keyframes bgBreen {
  0% {
    background-position: bottom;
  }

  100% {
    background-position: 40px -20px;
  }
}



.hero-game {
  background-image: url('../img/hero-bg-2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .hero__title {
    color: #FFFFFF;
  }

  .hero__link {
    color: #FFFFFF;
  }

  .hero__top img:nth-child(1) {
    display: none;
  }

  .hero__top img:nth-child(2) {
    display: flex;
  }
}