// ************************ Модальное окно ************************ //

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.modal-content {
  margin: 10% auto;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
  position: relative;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;


  .footer-form {
    padding: 50px 0;
  }

  @media (max-width: $breakpoint992) {
    .form__inner {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 30px;
    }

    .footer-form {
      padding: 20px 0;
    }

  }

  @media (max-width: $breakpoint768) {
    width: 100%;

    .form__inner {
      row-gap: 15px;
    }

    .footer-form__inner {
      padding-top: 20px;
    }

    .footer-form__top {
      margin-bottom: 10px;
    }

    .footer-form__top-label {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 20px;
    }

    .footer-form__title {
      font-size: 18px;
      line-height: 22px;
    }

    .form__label {
      font-size: 12px;
    }
  }

}

.modal.show .modal-content {
  opacity: 1;
  transform: translateY(0);
}

.close-modal-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  background-color: transparent;
}