// Global SCSS-files imports
@import './vars';
@import './reset';
@import './global';

// Sections or Pages SCSS-files imports
@import './header';
@import './hero';
@import './hero-second';
@import './about';
@import './dating';
@import './techno';
@import './condition';
@import './job';
@import './accordion';
@import './footer-form';
@import './data';
// @import './footer';

// Libs
// @import './libs/swiper';